body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.input-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    align-items: center;
}

#Textbox {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    max-width: 70%;
}

.send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}
